*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


android_serial_api/build/.transforms/
android_serial_api/build/intermediates/
android_serial_api/build/outputs/
android_serial_api/build/tmp/



